/*

Bootstrap Overrides

*/

.admin_body { 
	background: 	#f3f3f3; 
	padding: 		0;
}

.right {
	float: 			right;	
}


/*--------------------------------------

OpenResume Admin Styles

These styles all override Bootstrap

---------------------------------------*/

.dutch_orange {
	color: 				#ff4f00;	
}


.footer {
	color: 				#999;	
}

.page_width {
	width: 				1000px !important;
}

.admin_page {
	background-color: 	#fff;	
	margin: 			20px auto 20px auto;
	padding: 			0 20px 20px 20px;
}

.admin_header {
	vertical-align: 	bottom;
	width: 				100%;
}

.admin_header_link {
	font-size: 			16px;
}

.admin_title {
	
}

.admin_button {
	display: 			inline-block;
	margin: 			0 10px 18px 20px;
}

.admin_date_form_container {
	float: 				right;
}

.admin_date_list ul {
    list-style-type: 	none;
	margin: 			0;
	padding: 			0;
	width: 				100%;	
}

.admin_date_list li {
	display: 			inline-block;
	vertical-align: 	bottom;
	margin: 			0 5px 0 0;
	padding: 			0;
}

.admin_current {
	font-weight: 		bold;
	color: 				#000;	
}


/*--------------------------------------

Admin Menu

---------------------------------------*/

.admin_menu {
	background-color: #fff;	
	padding: 		0;
	margin: 		0 auto;
}

.admin_menu ul {
    list-style-type: none;
	margin: 		0;
	padding: 		0;
	width: 			100%;
}

.admin_menu li {
	display: 		inline-block;
	vertical-align: middle;
	margin: 		0;
	padding: 		0;
	width: 			16.6%;
	height: 		60px;
	border-bottom: 	solid 4px #ccc;
}

.admin_menu a {
	display: 		inline-block;
	vertical-align: middle;
	width: 			100%;
	line-height: 	60px;
	height: 		56px;
	margin: 		0;
	padding: 		0 0 0 10px;
	border-right: 	solid 1px #efefef;
	font-size: 		16px;
}

.menu_this_page {
	border-bottom-color: #ff4f00 !important;	
}

.menu_this_page a {
	color: 			#000;
	font-weight: 	bold;
}

.logout_link {
	border: 		none !important;	
}

.logout_li {
	width: 			17% !important;
}


/*--------------------------------------

Login Form

---------------------------------------*/

.login_container {
	z-index:   		101;
	width: 			350px;
	height: 		280px;
	margin: 		0 auto;
	background: 	#fff;
	position: 		fixed;
	top: 			30%;
	left: 			50%;
	margin-left: 	-175px;
	margin-top: 	0;
    box-shadow: 	0px 0px 10px #ccc;
	padding: 		18px 25px 0 25px;
}

.forgotten_password_container {
	z-index:   		101;
	width: 			350px;
	height: 		220px;
	margin: 		0 auto;
	background: 	#fff;
	position: 		fixed;
	top: 			30%;
	left: 			50%;
	margin-left: 	-175px;
	margin-top: 	0;
    box-shadow: 	0px 0px 10px #ccc;
	padding: 		18px 25px 0 25px;	
}

.login_container button, .forgotten_password_container button {
	float: 			left;	
}

.login_container input, .forgotten_password_container input {
	margin-bottom: 	8px;
}

.login_container h1, .forgotten_password_container h1 {
	margin-bottom: 	20px;
	font-size: 		28px;
}

.forgot_password {
	margin-top: 	8px;
	margin-right: 	3px;
}

.failure_message {
	color: 			#ff0000;
	margin-top: 	60px;
	padding: 		5px;	
}

.admin_date_range {
	width: 			90px;	
}


/*--------------------------------------

Admin Resume Page

---------------------------------------*/

.admin_edit_section_container {
	position: 		relative;
}

.admin_edit_item_container {
	position: 		relative;	
}

.admin_edit_section {
	position: 		absolute;
	top: 			-10px;
	left: 			-165px;
	opacity: 		0;
}

.admin_edit_item {
	position: 		absolute;
	left: 			-150px;
	display: 		none;
}

.admin_edit_icon {
	opacity: 		0.3;
	cursor: 		pointer;
	margin-left: 	5px;
}

.admin_delete_icon {
	opacity: 		0.1;	
	cursor: 		pointer;
}

.admin_edit_icon:hover {
	opacity: 		1.0;
}

.admin_delete_icon:hover {
	opacity: 		1.0;
}

.admin_edit_icon_disabled {
	opacity: 		0.2;	
	-webkit-filter: grayscale(100%);
	filter: 		grayscale(100%);	
	margin-left: 	5px;
}

.section_name, .section p, .section li {
	cursor: 		pointer;	
}