/*

Bootstrap Overrides

*/

body { 
	background: 	#f3f3f3; 
	padding: 		0;
}

.container, .container-fluid {
	margin-top: 	20px;
	max-width: 		700px;
	background: 	#fff;	
	border: 		1px solid #ddd;
	padding: 		0;
}

.row {
	max-width: 		700px;	
	margin: 		0;
	padding-left: 	30px;
	padding-right: 	30px;
}

@media (max-width: 760px) {
	

	.container, .container-fluid {
		margin: 		0;
		border: 		none;
		padding: 		0;
		max-width: 		760px;	
	}
	
	.row {
		margin: 		0;
		border: 		none;
		padding: 		10px;
		padding-right: 	22px;
	}

}


/*--------------------------------------

OpenResume Styles

These styles all override Bootstrap

---------------------------------------*/

/*

Main Styles

*/


.right {
	float: 			right;
}

.cursor_hand:hover {
	cursor:pointer;	
}


/* 

Form Styles

*/

.form_field {

	margin-top: 	4px;	
	margin-bottom: 	4px;	
	
}

.form_field input {
	
	padding: 		6px 4px;
	font-size: 		16px;
	width: 			100%;

}

.form_field textarea {

	width: 			100%;
	font-size: 		16px;
	padding: 		6px 4px;
	margin: 0;
	
}




/* 

Contact Form Styles

*/

.overlay {

  	opacity:    	0.8; 
  	background: 	#000; 
  	width:      	100%;
  	height:     	100%; 
  	z-index:    	100;
  	top:        	0; 
  	left:       	0; 
  	position:   	fixed;
	display: 		none;

}

.contact_form {

	z-index:   		101;
	width: 			350px;
	height: 		460px;
	margin: 		0 auto;
	background: 	#fff;
	position: 		fixed;
	left: 			50%;
	top: 			50%;
	margin-left: 	-175px;
	margin-top: 	-230px;
    box-shadow: 	0px 0px 10px #111;
	display: 		none;

}

.contact_form_hide_details {

	height: 		320px;
	margin-top: 	-160px;	
	
}

.contact_form_top {

	margin-bottom: 	20px;
	border-top: 	5px solid #ff4f00;
	
}

.contact_form_container {

	margin-top: 	14px;
	padding: 		0 30px 10px 20px;
	background: 	#fff;	
	
}

.contact_form_header {

	font-size: 		24px;
	color: 			#ff4f00;
	margin: 		0 16px 10px 12px;
	
}

.contact_form_message {

	height: 		80px;
	
}

.contact_form_close_button {

	margin-top: 	10px;
	margin-right: 	10px; 		
	
}

.contact_form_details {

	margin: 0 20px 15px 20px;

}

.contact_button_container {
	margin-top: 	25px;	
}

.contact_button, .contact_button:active, .contact_button:visited {
	display: 		inline-block;
	background: 	#0275d8;
	color: 			#fff !important;
	padding: 		16px 30px;
	margin: 		0;
	margin-bottom:  10px;
	font-size: 		14px;
	line-height: 	14px;
	font-weight: 	bold;
	vertical-align: top;	
}

.contact_button:hover {	
	background: 	#0695e8;
	color: 			#fff;	
}

.contact_info_container {
	padding: 		0;
}

.location {
	display: 		inline-block;
	line-height: 	14px;
	margin:  		0;
	padding: 		16px 30px;
	vertical-align: top;	
}



/*

Resume Styles

*/
.resume_container {
	padding-bottom: 40px;	
}

.portrait {
	border: 		2px solid #eee;
	float: 			right;
}

.portrait_container {	
	padding: 		0;
	text-align: 	right;
}


.resume_header {	
	padding-top: 	30px;		
	vertical-align: middle;
}

.resume_header > .row {	
	padding: 		0;	
}

.resume_name {
	font-size:  	48px;
	margin:  		0;
	margin-top: 	20px;
	color: 			#ff4f00;	
}

.resume_title {
	font-size: 		32px;
	margin: 		0;
	margin-top: 	10px;
	margin-left: 	2px;
}

.contact_details {
	margin-top: 	15px;
}

.contact_details div.contact_form_email_phone_container {
	display: inline-block;
	margin-right: 	30px;
	margin-left: 	2px;
}

.contact_details div.contact_form_address {
	display: inline-block;
	margin-right: 	30px;
	margin-left: 	2px;
}

.section_name {
	color: 			#ff4f00;	
}


.section ul {
	margin-left: 	-10px;
}

.section p {	
	text-align: 	justify;
	margin-left: 	5px;		
}

.footer {
	margin-top: 	20px;
	margin-bottom: 	20px;
}

@media (max-width: 650px) {

	.resume_name {	
		font-size: 	36px;		
	}
	
	.resume_title {	
		font-size: 	20px;		
	}
	
	.portrait {	
		height: 	150px;		
	}
	
	.contact_button, .contact_button:active, .contact_button:visited {	
		padding: 	10px 20px;		
	}
	
	.location {
		padding: 	10px 20px;		
	}

}


@media (max-width: 470px) {
	
	body {	
		font-size: 		13px;		
	}
	
	.resume_name {
		font-size: 		36px;
		text-align: 	center;
		margin-top: 	10px;		
	}
	
	.resume_title {	
		font-size: 		20px;
		text-align: 	center;		
	}
	
	.portrait {	
		height: 		auto;
		float: 			none !important;
		display: 		block;
		margin-left: 	auto;
		margin-right: 	auto;		
	}
	

	.contact_button_container {		
		align-content: 	center;
		text-align: 	center;
	}

	.section_name {	
		font-size: 		20px;		
	}
	
}