/*

Bootstrap Overrides

*/

body { 
	background: 	#f3f3f3; 
	padding: 		0;
}

.container, .container-fluid {
	margin-top: 	20px;
	max-width: 		700px;
	background: 	#fff;	
	border: 		1px solid #ddd;
	padding: 		0;
}

.row {
	max-width: 		700px;	
	margin: 		0;
	padding-left: 	30px;
	padding-right: 	30px;
}

@media (max-width: 760px) {
	

	.container, .container-fluid {
		margin: 		0;
		border: 		none;
		padding: 		0;
		max-width: 		760px;	
	}
	
	.row {
		margin: 		0;
		border: 		none;
		padding: 		10px;
		padding-right: 	22px;
	}

}


/*--------------------------------------

OpenResume Styles

These styles all override Bootstrap

---------------------------------------*/

/*

Main Styles

*/


.right {
	float: 			right;
}

.cursor_hand:hover {
	cursor: 		pointer;	
}


/* 

Form Styles

*/

.form_field {	
	margin-bottom: 	6px;		
}

.form_field input {	
	padding: 		6px 8px;
}

.form_field textarea {
	padding: 		6px 8px;
}

.notifyjs-bootstrap-base {
	border-color:  	#c99 !important;
	padding: 		5px 10px 4px 10px !important;
	margin-right:  	-3px !important;	
}
	
.notifyjs-bootstrap-error {
	background-image: none !important;	
	
}

.form_result_loading_symbol {
	margin: 		auto auto;	
}

.form_result_loading {
	display: 		block;
	width: 			100%;	
}

/* 

Ajax Result Animations

*/

.form_result_loading_1 {
	background-color: #fff;	
}

.form_result_loading_2 {
	background-color: #f6f6f6;	
}

.form_result_success_1 {
	background-color: #ff9;	
}

.form_result_success_2 {
	background-color: #fff;
}
	
@media (max-width: 650px) {
	
	.notifyjs-bootstrap-base {		
		padding: 	3px 10px 2px 30px !important;
		font-size: 	12px;	
	}

}



/* 

Contact Form Styles

*/

.overlay {
  	opacity:    	0.8; 
  	background: 	#000; 
  	width:      	100%;
  	height:     	100%; 
  	z-index:    	100;
  	top:        	0; 
  	left:       	0; 
  	position:   	fixed;
	display: 		none;
}

.contact_form_hidden {
	top: 			45%;
	opacity: 		0;
	display: 		none;	
}

.contact_form_visible {
	top: 			50%;
	opacity: 		1.0;	
}

.contact_form {
	z-index:   		101;
	width: 			350px;
	height: 		430px;
	margin: 		0 auto;
	background: 	#fff;
	position: 		fixed;
	left: 			50%;
	margin-left: 	-175px;
	margin-top: 	-215px;
    box-shadow: 	0px 0px 10px #111;
}

.contact_form_hide_details {
	height: 		320px;
	margin-top: 	-160px;		
}

.contact_form_top {
	margin-bottom: 	20px;
	border-top: 	5px solid #ff4f00;	
}

.contact_form_container {
	margin-top: 	14px;
	padding: 		0 30px 10px 20px;
	background: 	#fff;		
}

.contact_form_header {
	font-size: 		24px;
	color: 			#ff4f00;
	margin: 		0 16px 10px 12px;	
}

.contact_form_message {
	height: 		80px !important;	
}

.contact_form_close_button {
	margin-top: 	10px;
	margin-right: 	10px; 		
}

.contact_form_details {
	margin: 0 20px 15px 20px;
}

.contact_button_container {
	margin-top: 	25px;	
}

.contact_button, .contact_button:active, .contact_button:visited {
	display: 		inline-block;
	background: 	#0275d8;
	color: 			#fff !important;
	padding: 		16px 30px;
	margin: 		0;
	margin-bottom:  10px;
	font-size: 		14px;
	line-height: 	14px;
	font-weight: 	bold;
	vertical-align: top;	
}

.contact_button:hover {	
	background: 	#0695e8;
	color: 			#fff;	
}

.contact_info_container {
	padding: 		0;
}

.location {
	display: 		inline-block;
	line-height: 	14px;
	margin:  		0;
	padding: 		16px 30px;
	vertical-align: top;	
}

@media (max-width: 650px) {
	.contact_form_header {
		font-size: 		18px;
		font-weight: 	bold;	
	}
	
	.contact_form_container input, .contact_form_container textarea {
		font-size: 		14px;
		padding:  		2px;	
	}
	
	.contact_form_container textarea {		 
		height:  		60px !important;	 		 
	}
	 
	.contact_form_top {		
		margin-bottom: 	12px; 		 
	}

	.contact_form {
		height: 		370px;
		margin-top: 	-185px;		
	}
	
	.contact_form_hide_details {	
	}
	
}

@media (max-width: 470px) {
	.contact_form {
		width: 			100%;
		height: 		100%;
		position: 		fixed;
		top: 			0;
		left: 			0;
		right: 			0;
		margin: 		0;
    	box-shadow: 	none;
	}

	.contact_form_hidden {
		top: 			-5%;	
	}
	
	.contact_form_visible {
		top: 			0%;	
	}
	
}



/*

Resume Styles

*/

.resume_container {
	padding-bottom: 40px;	
}

.portrait {
	border: 		2px solid #eee;
	float: 			right;
}

.portrait_container {	
	padding: 		0;
	text-align: 	right;
}


.resume_header {	
	padding-top: 	30px;		
	vertical-align: middle;
}

.resume_header > .row {	
	padding: 		0;	
}

.resume_name {
	font-size:  	48px;
	margin:  		0;
	margin-top: 	20px;
	color: 			#ff4f00;	
}

.resume_title {
	font-size: 		32px;
	margin: 		0;
	margin-top: 	10px;
	margin-left: 	2px;
}

.contact_details {
	margin-top: 	15px;
}

.contact_details div.contact_form_email_phone_container {
	display: 		inline-block;
	margin-right: 	30px;
	margin-left: 	2px;
}

.contact_details div.contact_form_address {
	display: 		inline-block;
	margin-right: 	30px;
	margin-left: 	2px;
}

.section_name {
	color: 			#ff4f00;	
}


.section ul {
	margin-left: 	-10px;
}

.section p {	
	text-align: 	justify;
	margin-left: 	5px;		
}

.footer {
	margin-top: 	20px;
	margin-bottom: 	20px;
}

@media (max-width: 650px) {
	.resume_name {	
		font-size: 	36px;		
	}
	
	.resume_title {	
		font-size: 	20px;		
	}
	
	.portrait {	
		height: 	150px;		
	}
	
	.contact_button, .contact_button:active, .contact_button:visited {	
		padding: 	10px 20px;		
	}
	
	.location {
		padding: 	10px 20px;		
	}

}


@media (max-width: 470px) {
	body {	
		font-size: 		13px;		
	}
	
	.resume_name {
		font-size: 		36px;
		text-align: 	center;
		margin-top: 	10px;		
	}
	
	.resume_title {	
		font-size: 		20px;
		text-align: 	center;		
	}
	
	.portrait {	
		height: 		auto;
		float: 			none !important;
		display: 		block;
		margin-left: 	auto;
		margin-right: 	auto;		
	}
	

	.contact_button_container {		
		align-content: 	center;
		text-align: 	center;
	}

	.section_name {	
		font-size: 		20px;		
	}
	
}

/*

Resume Fixed Header Styles

*/

.resume_fixed_header {
	position: 		fixed;	
	width:  		100%;
	background-color: #fff;
	border-bottom: 	4px solid #ff4f00;
    box-shadow: 	0px 0px 5px #666;	
}

.resume_fixed_header_hidden {
	top: 			-90px;
	left: 			0;
	opacity: 		0.0;	
}

.resume_fixed_header_visible {
	top: 			0px;
	left: 			0;
	opacity: 		1.0;	
}

.resume_fixed_header_content {
	margin: 		0 auto;
	width:  		680px;
	padding-bottom: 20px;	
}

.resume_fixed_header_content .resume_name {
	font-size: 		24px;
	font-weight: 	bold;
	margin-top: 	5px;	
}

.resume_fixed_header_content .resume_title {
	font-size: 		18px;
	margin: 		0;
	margin-top: 	5px;	
}

.resume_fixed_header_content .contact_button { 
	float: 			right; 
}

.resume_fixed_header_content .location { 
	display: 		none; 
}

.resume_fixed_header_content .contact_button_container {
	margin-top: 	16px;
	padding-top: 	-2px;
}

.resume_fixed_header_content .portrait { 
	float: 			left;
	margin: 		0;
	margin-top: 	-8px;
	margin-right: 	8px;
	height: 		70px;
}

@media (max-width: 740px) {
	.resume_fixed_header_content {
		margin: 		0 auto;
		width:  		100%;
		padding: 		0 20px 20px 20px;	
	}

}

@media (max-width: 650px) {
	.resume_fixed_header_content {		
		padding: 		0 10px 12px 10px;	
	}

	.resume_fixed_header_content .resume_name {
		font-size: 		18px;
		margin-top: 	5px;	
	}
	
	.resume_fixed_header_content .resume_title {
		font-size: 		13px;
		margin: 		0;
		margin-top: 	5px;	
	}

	.resume_fixed_header_content .portrait {	
		height: 		52px;
	}
	
}

@media (max-width: 470px) {
	.resume_fixed_header_content .portrait { 	
		display: 		none;	
	}

	.resume_fixed_header_content .resume_name,	.resume_fixed_header_content .resume_title {
		text-align: 	left;	
	}
	
	.resume_fixed_header_content {		
		padding: 		0 10px 12px 10px;	
	}

}

/*

Loading ring styles

*/

@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.uil-ring-css {
  background: none;
  position: relative;
  width: 200px;
  height: 200px;
}
.uil-ring-css > div {
  position: absolute;
  display: block;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 80px;
  box-shadow: 0 6px 0 0 #ff4f00;
  -ms-animation: uil-ring-anim 1.5s linear infinite;
  -moz-animation: uil-ring-anim 1.5s linear infinite;
  -webkit-animation: uil-ring-anim 1.5s linear infinite;
  -o-animation: uil-ring-anim 1.5s linear infinite;
  animation: uil-ring-anim 1.5s linear infinite;
}